
#console { 
    display: block;
    padding: 2px;
    margin: 4px;
    width: 100%;
    height: 200px;
}

#console .output {
    display: block;
    position: relative;
    overflow-y: scroll;
    overflow-x: wrap;
    height: 200px; /* 180px; */
    width: 100%;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre-wrap;
}

#console .output .log {
    color: #fff;
}

#console .output .log:before {
    content: "  ";
}

#console .output .info {
    color: #fff;
}

#console .output .info:before {
    content: "  ";
}

#console .output .debug {
    color: #99f;
}

#console .output .debug:before {
    content: "  ";
}

#console .output .warn {
    color: #fff;
}

#console .output .warn:before {
    content: "⚠️ ";
}

#console .output .error {
    color: #f99;
}

#console .output .error:before {
    content: "🛑 ";
}

#console .immediate {
    display: block;
    position: relative;
    height: 20px;
    width: 100%;
}
